{{ define "newsletter" }}
<div class="relative mt-8 rounded-lg p-4 text-left no-underline">
    <span class="flex flex-col items-start justify-between text-start text-white m-0 space-y-4">
        <h3 class="text-3xl font-extrabold text-orange-500">Newsletter</h3>
        <p class="text-3xl font-bold">Get new web dev
            tutorials in your inbox!</p>
        <p class="text-lg font-medium">
            Sign up to receive all things WebGameDev and more free content straight to your inbox!
        </p>
        <form>
            <input type="text" class="w-full h-12 rounded-lg bg-gray-100 px-4 mt-4" placeholder="Your Email Address" />
            <button type="submit" class="h-12 rounded-lg bg-yellow-500 px-4 mt-4 hover:bg-yellow-600">Subscribe</button>
        </form>
    </span>
</div>
{{ end }}
