{{define "metatags"}}
<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{end}}

{{define "css"}}
<link rel="stylesheet" href="css/animations.css">
{{end}}

{{define "js"}}
<script src="https://unpkg.com/htmx.org@1.9.3"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{{end}}

{{define "footer"}}
{{- if .CSRF}}
<script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
        if (evt.detail.verb !== "get") {
            evt.detail.parameters['csrf'] = '{{.CSRF}}';
        }
    })
</script>
{{end}}
<script>
    document.body.addEventListener('htmx:beforeSwap', function (evt) {
        if (evt.detail.xhr.status >= 400) {
            evt.detail.shouldSwap = true;
            evt.detail.target = htmx.find("body");
        }
    });
</script>
{{end}}
